<h1 class="text-white">Editing Project</h1>

<%= render "form", project: @project %>

<br>

<div>
  <div class="btn-group">
    <%= link_to "Show this project", @project, :class => "btn btn-dark" %>
    <%= link_to "Back to projects", projects_path, :class => "btn btn-dark" %>
  </div>
</div>
