
    <h4 class="text-white text-center">Hello, my name is</h4>
    <h2 class="text-white text-center display-4">Abby Estampador</h2>
    <p class="text-white text-center">I'm a third-year computer science student at the
       University of Colorado at Colorado Springs</p> 
    <div class="col text-center">
      <a href="https://github.com/aestampa" class="btn btn-dark text-center pull-right" role="button">View My GitHub Here</a>
    </div>


<div id="projects">
<div class="container-fluid mt-3">
  <div class="row">
  <% @projects.each do |project| %>
    <div class="col-sm-4">

    <div class="card-transparent">
    <div class="card-block special-card" style="background-color: rgba(0, 0, 0, 0.75);"><%= render project %>
      
    </div>
    </div>


    </div>
  <% end %>
  </div>
</div>
</div>